/* .container {
  max-width: 1920px;
  max-height: 580px;
  position: relative;
} */

.backImage {
  background-image: url(../../assets/image/1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
