._container {
  max-width: 1320px;
  margin: 0px auto;
}
.wrap{
    display: flex;
    min-height: 100px;
    align-items: center;
}
header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
ul{
    margin-left: 0px;
    padding-left: 0px;
}
.firstLetter {
  width: 88px;
  height: 20px;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */
  color: #f01b0d;

  transform: matrix(0.98, 0, -0.19, 1, 0, 0);
}
.secondLetter {
  width: 88px;
  height: 20px;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */

  color: #ffffff;

  transform: matrix(0.98, 0, -0.19, 1, 0, 0);
}
.headerMenu{
margin: 0px 0px 0px 555px;
}
.menuClass{
display: flex;

}
.menuItem{

}
.menuItem:not(:last-child){
    margin: 0px 50px 0px 0px;
}
.menuLink{
    width: 46px;
height: 14px;

font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 116%;
/* identical to box height */

letter-spacing: 0.05em;
text-transform: uppercase;
color: black;
/* color: #FFFFFF; */


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
